    <div class="page-contents-line">
        <a href="/">Home</a>｜
        <a href="/members">Member</a>｜
        <a href="/map">Map</a>｜
        <a href="/photos">Photo</a>｜
        <a href="/events">Event</a>｜
        <a href="/social">Social</a>｜
        <a href="/bookshelf">Bookshelf</a>
    </div>
    <p style="margin-top:10px;">PGHouseへの訪問や、</p>
    <p>勉強会等のご利用に関するお問い合わせは</p>
    <p><a href="https://www.facebook.com/pghousegotokuji">PGHouse豪徳寺のFacebookページ</a>にて受け付けております</p>
    <p>メッセージ機能にてお問い合わせ内容をお伝えください</p>
