<div class="left">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://twitter.com/PGHousegotokuji" data-via="PGHousegotokuji" data-lang="ja" data-count="vertical">ツイート</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="left">
    <div class="fb-like" data-href="http://pgh-gotokuji.net" data-send="false" data-layout="box_count" data-width="80" data-show-faces="true" data-font="tahoma"></div>
</div>
<div class="left" style="margin:10px 0 0 20px;">
    <g:plusone size="tall" href="http://pgh-gotokuji.net"></g:plusone>
</div>
