<script>
/*
$(function(){
    $('.coming-soon').balloon({
        contents:'新しいコンテンツを作成中!!', 
        position:'bottom'
    });
});
*/
</script>
<div class="sidebar">
    <div class="sidebar-text-area">
        <ul style="margin-top:0px;">
            <li><a href="/">Home</a>&nbsp;｜</li>
            <li><a href="/members">Member</a>&nbsp;｜</li>
            <li><a href="/map">Map</a>&nbsp;｜</li>
            <li><a href="/photos">Photo</a>&nbsp;｜</li>
            <li><a href="/events">Event</a>&nbsp;｜</li>
            <li><span title="新しいコンテンツを作成中!!" class="coming-soon">Coming Soon!</span></li>
        </ul>
    </div>
</div>
