body {
    background  : #fff;
    color       : #052c6e;
    font-size   : 20px;
    font-family : Meiryo UI;
    margin      : 0;
}

a {
    text-decoration : none;
    color           : #01053a;
}

a:hover {
    color      : #009900;
    background : #fff;
}

p {
    margin : 3px;
}

ul {
    list-style : none;
}

li {
    float     : left;
    font-size : 20px;
}

img {
    margin : 10px;
}

iframe {
    margin : 10px;
}

h1 {
    font-size : 30px;
    padding   : 0px 5px 5px 10px;
    margin    : 0px;
}

h1 a {
    text-decoration : none;
}

h1 a:hover {
    background : none;
}

h2 {
    font-size     : 22px;
    color         : #fff;
    margin        : 0 10px 0 10px;
    padding-left  : 10px;
    background    : #01053a;
    border-radius : 20px;
}

h2 a {
    text-decoration : none;
    color           : #fff;
}

h3 {
    font-size     : 20px;
    margin        : 0 10px 0 0;
    padding-left  : 10px;
}

hr {
    margin : 10px;
}


/******************
 * original class *
 ******************/
.left {
    float : left;
}

.right {
    float : right;
}

.center {
    text-align : center;
}

.elem {
    width : 500px;
}

.elem-text {
    margin : 10px;
}

.elem-list {
    width      : 1000px;
    border-top : solid 1px #bcbcbc;
}

.profile {
    font-size : 14px;
}

.home-bar {
    width      : 100%;
    text-align : center;
    /* Firefox用 */
    background: -moz-linear-gradient(top,
        #000,
        #01053a 90%,
        #01053a
    );
    /* Safari,Google Chrome用 */
    background : -webkit-gradient(linear, left top, left bottom,
        from(#000),
        color-stop(0.9, #01053a),
        to(#01053a)
    );
    /* IE用 */
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#000", EndColorStr="#01053a");
}

* html div#home-bar { 
    position: absolute;
    top: expression(eval(document.documentElement.scrollTop+0));
}

#header {
    width  : 1000px;
    height : 85px;
    margin : 10px auto;
}

#container {
    width         : 100%;
    margin-bottom : 10px;
}

.content-top-wrapper {
    width      : 100%;
    background : #000;
}

.content-top {
    width  : 1000px;
    margin : 0 auto;
    color  : #fff;
}

.content-top a {
    color : #00ff00;
}

.content-bottom {
    width  : 1000px;
    margin : 0 auto;
}

.page-contents-line {
    font-size : 20px;
}

.page-contents-line a {
    font-weight : bold;
    background: -moz-linear-gradient(top,
        #21369e,
        #01053a 30%,
        #01053a
    );
    background : -webkit-gradient(linear, left top, left bottom,
        from(#21369e),
        color-stop(0.3, #01053a),
        to(#01053a)
    );
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#21369e", EndColorStr="#01053a");
    color         : #fff;
    padding       : 5px 10px;
    border-radius : 5px;
}

.page-contents-line a:hover {
    background: -moz-linear-gradient(top,
        #21369e,
        #01053a 30%,
        #01053a
    );
    background : -webkit-gradient(linear, left top, left bottom,
        from(#21369e),
        color-stop(0.3, #01053a),
        to(#01053a)
    );
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#21369e", EndColorStr="#01053a");
    color         : #00ff00;
    padding       : 5px 10px;
    border-radius : 5px;
}

.content-text {
    padding : 10px;
}

#footer {
    width      : 100%;
    color      : #fff; 
    font-size  : 12px;
    text-align : center;
    background : #000;
    margin     : auto;
}

.footer {
    padding : 7px 0;
}

.clearfix{
    overflow : hidden;
}
.clearfix:after {
    content  : "";
    display  : block;
    clear    : both;
    height   : 1px;
    overflow : hidden;
}
