<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <?= $this->Html->charset(); ?>
    <title><?= h($title_for_layout); ?></title>
    <?= $this->Html->meta('icon'); ?>
    <?= $this->Html->css('style'); ?>
    <?= $scripts_for_layout; ?>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript">
<? if (ENV_MODE == 'pro') { ?>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32877795-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
<? } ?>

$(function(){
    $('#flash-message-success').fadeIn(1000).delay(3000).fadeOut(1000);
    if (window.location.hash == '#_=_') {
        window.location.hash = '';
    }
});
    </script>
</head>
<body>
<? if (ENV_MODE != 'pro') { ?>
    <script>
    $(function(){
        $('#disp-env-code').click(function(){
            $('#home-bar-top').toggle();
        });
    });
    </script>
    <div id="disp-env-code" style="top:0;right:10px;width:32px;height:16px;margin:0;padding:12px 5px 5px 5px;text-align:center;color:#FFF;font-weight:bold;font-size:12px;line-height:10px;background-color:#008000;border: solid 2px #fff;border-top:none;position:absolute;z-index:100000;border-bottom-right-radius:5px;border-bottom-left-radius:5px;cursor:pointer;"><?= ENV_MODE ?></div>
<? } ?>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=134474456690922";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="header">
        <h1>
            <a href="/"><?= TITLE ?>&nbsp;<?= SUB_TITLE ?></a>
        </h1>
    </div>
    <div id="content" class="clearfix">
        <?= $content_for_layout; ?>
    </div>
    <div id="footer">
        <p class="footer">
            Copyright &copy; <?= date('Y'); ?> <?= TITLE ?> all rights reserved.
        </p>
        <? if (ENV_MODE != 'pro') { ?>
        <hr>
        <?= $this->element('sql_dump');  ?>
        <? } ?>
    </div>
</body>
</html>
