<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
<head>
    <?= $this->Html->charset(); ?>
    <title><?= h($title_for_layout); ?></title>
    <?= $this->Html->meta('icon'); ?>
    <?= $this->Html->css('style'); ?>
    <?= $scripts_for_layout; ?>
    <meta name="description" content="住民同士でプログラミングを学び合いながら、新しいWEBサービスをどんどん作っちゃうシェアハウス。プログラミングを教え合う（教わる側も、教える側もOK！）ことに興味のある方はjoin us!!">
    <meta name="keywords" content="シェアハウス, プログラミング, 勉強会, PHP, Java, 料理, 屋上, リビング, プロジェクタ, MySQL, MongoDB, Hadoop, ハッカソン, スタートアップ, webサービス, 起業, MBA, facebook, Rails, Python, javascript, node.js, jquery">

    <meta property="og:title" content="<?= TITLE ?>" />
    <meta property="og:site_name" content="<?= TITLE ?> ~プログラミングを学び合うシェアハウス~" />
<? /*
    <meta property="og:type" content="<? ($redirectUrl == '/') ? 'website' : 'article'; ?>" />
*/ ?>
    <meta property="og:url" content="http://pgh-gotokuji.net" />
    <meta property="og:image" content="http://pgh-gotokuji.net/img/pgh-ogp-logo.png" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="fb:app_id" content="<?= FB_ID; ?>" />

    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.balloon.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript">
    <? if (ENV_MODE == 'pro') { ?>
    // google analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32877795-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    <? } ?>

    // facebook
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=134474456690922";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // google+
    window.___gcfg = {lang: 'ja'};
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
    </script>
</head>
<body>
<? if (ENV_MODE != 'pro') { ?>
    <script>
    $(function(){
        $('#disp-env-code').click(function(){
            $('#home-bar-top').toggle();
        });
    });
    </script>
    <div id="disp-env-code" style="top:0;right:10px;width:32px;height:16px;margin:0;padding:12px 5px 5px 5px;text-align:center;color:#FFF;font-weight:bold;font-size:12px;line-height:10px;background-color:#008000;border: solid 2px #fff;border-top:none;position:absolute;z-index:100000;border-bottom-right-radius:5px;border-bottom-left-radius:5px;cursor:pointer;"><?= ENV_MODE ?></div>
<? } ?>
    <div id="fb-root"></div>

    <?= $this->element('sidebar'); ?>

    <div id="header" class="clearfix">
        <div class="left">
            <h1>
                <a href="/"><?= TITLE ?><br /><?= SUB_TITLE ?></a>
            </h1>
        </div>
        <div class="right">
            <?= $this->element('header_right'); ?>
        </div>
    </div>
    <div id="container" class="clearfix">
        <?= $content_for_layout; ?>
        <?= $this->element('social_feeds'); ?>
    </div>
    <div id="footer">
        <p class="footer">
            Copyright &copy; <?= date('Y'); ?> <?= TITLE ?> all rights reserved.
        <? if (ENV_MODE != 'pro') { ?>
        <?= $this->element('sql_dump');  ?>
        <? } ?>
        </p>
    </div>
</body>
</html>
