<div class="content-top-wrapper">
    <div class="content-top clearfix" style="height:500px;position:relative;">
        <div class="elem-wide" style="position:absolute;top:50%;margin-top:-230px;">
            <h2>PGHouse豪徳寺の本棚</h2>
<div style="margin:10px 0 0 400px;">
<script type="text/javascript" src="http://widget.booklog.jp/blogparts/js/booklog_minishelf.js?black_disp" id="booklog_minishelf"></script>
<script type="text/javascript" src="http://api.booklog.jp/json/pghouse-gotokuji?category=0&count=30&callback=booklog_minishelf"></script>
</div>
        </div>
    </div>
</div>
