<script>
    var i = 1;
    $(function(){
        setInterval(changeImg, 5000);
        function changeImg(){
            $('#topImg').animate({'opacity':'0'}, 500, function(){
                $('#topImg').attr('src', 'img/tops/pgh_top_00' + i + '.png').animate({'opacity':'1'}, 500);
            });
            if (i <= 7) {
                i++;
            } else {
                i = 1;
            }
        }
    });
</script>
<div class="elem center left">
    <img id="topImg" style="margin-top:0px;" src="img/tops/pgh_top_001.png" widht="480" height="360">
    <?= $this->element('content_list'); ?>
</div>
<div class="elem right">
    <h3>プレスリリース：</h3>
    <div class="content-text">
        <p>[2012年6月24日]</p>
        <h4>PGHouse豪徳寺に12人のメンバー全員が揃う！ひゃっほい！\(^o^)/</h4>
    </div>
    <div class="content-text">
        <p>[2012年6月20日]</p>
        <h4>PGHouse豪徳寺がcareerhackに取り上げられました！：</h4>
        <p>
            <a href="http://careerhack.en-japan.com/report/detail/8">「生き方にあわせて、働き方を決める」―プロ>グラマ限定シェアハウスで暮らす人々の選択。</a>
        </p>
    </div>
    <div class="content-text">
        <p>[2012年5月14日]</p>
        <h4>PGHouse豪徳寺に入居開始！</h4>
    </div>
    <div class="fb-like-box" data-href="https://www.facebook.com/pghousegotokuji" data-width="480" data-height="360" data-show-faces="true" data-stream="true" data-header="true"></div>
</div>
