<script>
var i = 1;
$(function(){
    setInterval(changeImg, 5000);
    function changeImg(){
        $('#topImg').animate({'opacity':'0'}, 500, function(){
            $('#topImg').attr('src', 'img/tops/pgh_top_00' + i + '.png').animate({'opacity':'1'}, 500);
        });
        if (i <= 7) {
            i++;
        } else {
            i = 1;
        }
    }
});
</script>
<div class="content-top-wrapper">
    <div class="content-top clearfix" style="position:relative;">
        <div class="elem center left" style="position:absolute;top:50%;margin-top:-190px;">
            <img id="topImg" style="border:solid 1px #fff;" src="img/tops/pgh_top_001.png" widht="480" height="360">
        </div>
        <div class="elem right" style="padding-top:10px;">
            <h2>インフォメーション：</h2>
            <div class="content-text">
                <p>[2012年6月24日]</p>
                <h3>PGHouse豪徳寺に12人のメンバー全員が揃う！ひゃっほい！\(^o^)/</h3>
            </div>
            <div class="content-text">
                <p>[2012年6月20日]</p>
                <h3>PGHouse豪徳寺がcareerhackに取り上げられました！：</h3>
                <p>
                    <a href="http://careerhack.en-japan.com/report/detail/8">「生き方にあわせて、働き方を決める」―プログラマ限定シェアハウスで暮らす人々の選択。</a>
                </p>
            </div>
            <div class="content-text">
                <p>[2012年5月14日]</p>
                <h3>PGHouse豪徳寺に入居開始！</h3>
            </div>
        </div>
    </div>
</div>
<div class="content-bottom clearfix" style="margin-top:20px;">
    <div class="elem-text" style="line-height:65px;">
        PGHouseへの訪問や勉強会等のご利用に関するお問い合わせは<br />
        <a href="https://www.facebook.com/pghousegotokuji">PGHouse豪徳寺のFacebookページ</a>にて受け付けております。<br />
        メッセージ機能にてお問い合わせ内容をお伝えください。<br />
        <img style="border:solid 1px #000;" src="img/tops/pgh_top_003.png" widht="180" height="135" class="left">
        <p style="margin:45px 0 0 30px;font-size:30px;">We are PGHouse!!!</p>
    </div>
</div>

