<div class="content-top-wrapper">
    <div class="content-top clearfix" style="position:relative;">
        <div class="elem left" style="position:absolute;top:50%;margin-top:-190px;">
            <iframe width="480" height="360" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.jp/maps/ms?msa=0&amp;msid=217748715769502296121.0004c1fbbabde6625d432&amp;brcurrent=3,0x6018f397bdd8b36d:0xf17ebb49252dc85c,0&amp;ie=UTF8&amp;t=m&amp;ll=35.653077,139.648418&amp;spn=0.005231,0.006437&amp;z=16&amp;output=embed"></iframe>
        </div>
        <div class="elem right" style="padding-top:10px;">
            <h2>PGHouse豪徳寺周辺マップ</h2>
            <div class="elem-text">
                PGHouse豪徳寺は名前の通り、小田急線の<br />
                豪徳寺駅(もしくは世田谷線の山下駅)が<br />
                最寄り駅です。<br />
                <br />
                周辺は住宅街で静かな町並みになっており、<br />
                駅近辺にはスーパーや飲食店があって<br />
                暮らすのには不足なし！<br />
                <br />
                隣駅の経堂や下北沢からも近いので、<br />
                何か入り用の時にも出かけやすい！<br />
                <br />
                <a href="http://pax.coworking.jp/" target="_blank">パクチーハウス</a>や<a href="http://www.osscafe.net/ja/" target="_blank">下北沢OSSカフェ</a>が<br />
                近いのもgood！
            </div>
        </div>
    </div>
</div>
<div class="home-bar-top center" style="margin-top:15px;">
    <?= $this->element('content_list'); ?>
</div>
