<div class="content-top-wrapper">
    <div class="content-top clearfix" style="height:690px;position:relative;">
        <div class="elem-wide" style="position:absolute;top:50%;margin-top:-330px;">
            <h2>PGHouse豪徳寺周辺マップ</h2>
            <iframe width="980" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.jp/maps/ms?msa=0&amp;msid=217748715769502296121.0004c1fbbabde6625d432&amp;brcurrent=3,0x6018f397bdd8b36d:0xf17ebb49252dc85c,0&amp;ie=UTF8&amp;t=m&amp;ll=35.653077,139.648418&amp;spn=0.005231,0.006437&amp;z=16&amp;output=embed"></iframe>
        </div>
    </div>
</div>
