<div class="content-top-wrapper">
    <div class="content-top clearfix" style="height:428px;position:relative;">
        <div class="elem left" style="position:absolute;top:50%;margin-top:-190px;">
            <img style="border:solid 1px #fff;" src="img/learnings/pgh_learning_002.png" widht="480" height="360">
        </div>
        <div class="elem right" style="padding-top:10px;">
            <h2>MEMBER紹介</h2>
            <div class="elem-text">
                PGHouse豪徳寺は"プログラミングを学び合う"<br />
                シェアハウスとして、<a href="http://colish.net/concepts/59" target="_blank">Colishに掲載されていた<br />
                コンセプト</a>に共感したメンバーが集って<br />
                誕生しました！<br />
                <br />
                このページではPGHouse豪徳寺に<br />
                どんな住人が住んでいるのかを紹介しちゃいます！
            </div>
        </div>
    </div>
</div>
<div class="content-bottom clearfix" style="margin-top:20px;">
    <div class="elem-list clearfix">
        <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/274719_100001856976519_1025069675_n.jpg" class="left" width="120">
        <div class="elem-text"><a href="https://www.facebook.com/ken.amano" target="_blank">天野 健太郎(AK)</a></div>
        <p class="profile">
            健太郎です。健やかにたくましく生きてほしいという両親の願いが込められています。<br />
            この素晴らしい名前に恥じることのなきよう全力で頑張ります。
        </p>
    </div>
    <div class="elem-list clearfix">
        <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/226739_1667368734622_3956031_n.jpg" class="left" width="120">
        <div class="elem-text"><a href="https://www.facebook.com/rui.kikuchi" target="_blank">菊池 類(るい)</a></div>
    </div>
    <div class="elem-list clearfix">
        <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/424812_368628709830936_1899783571_n.jpg" class="left" width="120">
        <div class="elem-text"><a href="https://www.facebook.com/shin.kinjo" target="_blank">Shinichiro Kinjo(金ちゃん)</a></div>
        <p class="profile">
            ソーシャルイノベーターこと金城です。<br />
            WEBサービスを起ち上げるために目下日々の毎日と紛争中です。<br />
            プログラミングスキル的にはドットインストールからまだ抜け出せていない状態ですが、<br />
            ブログなどはよく書きます。PGHouseではギターとテキーラ担当です。
        </p>
    </div>
    <div class="elem-list clearfix">
        <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/425489_295324923867385_1538475857_n.jpg" class="left" width="120">
        <div class="elem-text"><a href="https://www.facebook.com/kazuki.kobashi" target="_blank">Kazuki Kobashi(てる)</a></div>
        <p class="profile">
            ピチピチの21歳、TERUです。GLAYのTERUとは同じ名字です。<br />
            現在大学をほったらかしにしてPGHouseLifeを満喫中。<br />
            PHPと仲良くなりつつあり、デザインなんかにも色目つかってます。<br />
            基本家にいるのでお会いしたらよろしくどーぞー
        </p>
    </div>
    <div class="elem-list clearfix">
        <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/420836_225953977501101_2087807705_n.jpg" class="left" width="120">
        <div class="elem-text"><a href="https://www.facebook.com/satoshun1" target="_blank">佐藤 隼(しゅん)</a></div>
        <p class="profile">
            仮性人です．プログラミングを極めると神になれると聞き，日々奮闘しております。
        </p>
    </div>
    <div class="elem-list clearfix">
        <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/188362_1442055350907_4939195_n.jpg" class="left" width="120">
        <div class="elem-text"><a href="https://www.facebook.com/ms2sato" target="_blank">佐藤 正志(まさし)</a></div>
        <p class="profile">
            マサシです。一番年長のオッサンなので、<br />
            何かと若い人たちにたててもらって楽しい毎日を送っています。<br />
            将来はシェアハウスを発展させたコミュニティを作って、自分の会社で島を買おうと企んでいます。<br />
            真剣な妄想と夢だけで生きてゆける幸せな人種です。よろしくー。
        </p>
    </div>
    <div class="elem-list clearfix">
        <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc7/254_29052302112_1360_n.jpg" class="left" width="120">
        <div class="elem-text"><a href="https://www.facebook.com/kensuke.shimokawa" target="_blank">Kensuke Shimokawa(けんけん)</a></div>
        <p class="profile">
            けんけんです。志は研究者。実際は、基幹システムのインフラ、ネットワーク技術者。<br />
            夢は、自分のアイデアでみんなを豊かにすること。研究大好き。<br />
            いろんなことに興味があり、日々奔走中。
        </p>
    </div>
    <div class="elem-list clearfix">
        <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/65707_104299369635277_7793951_n.jpg" class="left" width="120">
        <div class="elem-text"><a href="https://www.facebook.com/harutsugu" target="_blank">Harutsugu Shimodi(モジ)</a></div>
        <p class="profile">
            nntsuguことMojiまたははるつぐです。場所によって呼び方がばらばらですが同じ人です。<br />
            プログラマとインフラエンジニアの中間にいます。<br />
            最近システムの中を何がどう流れているのかがわかるようになってきました。<br />
            家にいない時間の多くを自転車の上で過ごしています。目標：脱300km童貞！
        </p>
    </div>
    <div class="elem-list clearfix">
        <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-snc6/268031_233256360028233_6129569_n.jpg" class="left" width="120">
        <div class="elem-text"><a href="https://www.facebook.com/kohei.sg" target="_blank">Kohei Sugi(すぎちゃん)</a></div>
        <p class="profile">
            koheiSGと申します。またの名をすぎちゃんです。<br />
            プログラムスキルが上がると、怠惰を極められると聴いて、この家に住むことにしました。<br />
            現状も結構怠惰なので、大体寝てます。
        </p>
    </div>
    <div class="elem-list clearfix">
        <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/425575_3454242644723_17417084_n.jpg" class="left" width="120">
        <div class="elem-text"><a href="https://www.facebook.com/takuyahashimoto" target="_blank">橋本 拓也(はっしゅ)</a></div>
        <p class="profile">
            はっしゅです。住人をコンプリートしたあと、<br />
            PGHouseタイトル画面でセレクトボタンを押しながら<br />
            上上下下左右左右BAを入力すると使えるようになります。
        </p>
    </div>
    <div class="elem-list clearfix">
        <img src="/img/nophoto.gif" class="left" width="120">
        <div class="elem-text"><a href="https://www.facebook.com/yutaka.hongo.9" target="_blank">本郷 寛(ほんごー)</a></div>
    </div>
    <div class="elem-list clearfix">
        <img src="https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/294938_461623420533944_1384165923_n.jpg" class="left" width="120">
        <div class="elem-text"><a href="https://www.facebook.com/imausr" target="_blank">増井 広樹(まっすん)</a></div>
        <p class="profile">
            こんにちは。PGHouse豪徳寺のダークホースこと、増井と申します。<br />
            普段は家の中でダベったり適当な事しか発言していない僕ではありますが、<br />
            心の中ではこのシェアハウスから沢山のwebアプリを輩出し、<br />
            「サービス」として昇華できるものを作り出すことを密かに狙っているんですか？
        </p>
    </div>
</div>

