<div class="content-top-wrapper">
    <div class="content-top clearfix" style="position:relative;">
        <div class="elem left" style="position:absolute;top:50%;margin-top:-190px;">
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 480,
  height: 260,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: true,
    behavior: 'all'
  }
}).render().setUser('PGHousegotokuji').start();
</script>
        </div>
        <div class="elem right" style="padding-top:10px;height:400px;">
            <h2>PGHouseソーシャル情報</h2>
            <div class="fb-like-box" data-href="https://www.facebook.com/pghousegotokuji" data-width="480" data-height="330" data-show-faces="true" data-stream="true" data-header="true"></div>
        </div>
    </div>
</div>
